doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Nueva cuenta registrada con éxito.
    <header style=#{header}>
        <img src='cid:headerATCLogo' style=#{imgLogo}/>
    </header>
    body
        <article style=#{articleContent}>
            <h2 style='color: red; text-align:left'>¡Hola #{name}!</h2>
            <p style=#{textStyles}>Tú nueva cuenta ha sido registrada con éxito y por ello te damos la bienvenida a <b>ATC</b></p>
            <p style=#{textStyles}>Ingresa de nuevo a la plataforma y descubre qué cosas puedes ahora como usuario registrado.</p>
            p(style='text-align:center') <a href=#{link} style="text-align:center">Ir a ActualizaTuCarro.</a>
        </article>
    footer
        <p style=#{textStyles}>No responda a este remitente</p>
        <p style=#{textStyles}><b>Atte:</b> Equipo de <span style="color: red"><b>ATC</b></span></p>
