doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ¡Has solicitado recuperar tu contraseña!
    <header style=#{header}>
        <img src='cid:headerATCLogo' style=#{imgLogo}/>
    </header>
    body
    <article style=#{articleContent}>
        <h2 style='color: red; text-align:left'>¡Hola #{name}!</h2>
        <h4 style=#{textStyles}>¡Solo falta un paso más!</h4>
        <p style=#{textStyles}>Hemos recibido una solicitud para cambiar tu contraseña</p>
        <p style=#{textStyles}>si fuiste tu, solo debes dar click en el enlace</p>
        p(style='text-align:center') <a href=#{link} style='text-align:center'>Recuperar contraseña.</a>
    </article>
    footer
        <p style=#{textStyles}>No responda a este remitente</p>
        <p style=#{textStyles}><b>Atte:</b> Equipo de <span style="color: red"><b>ATC</b></span></p>
