doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Solicitud de cambio en la orden #{ordenNumero}

  body
    header(style='text-align:center; padding-top:4vh; padding-bottom:4vh; background-color:white;')
      img(src='cid:headerATCLogo', style='max-width:100%; align-content:center;')

    article(style='border-bottom:solid red; padding-bottom:2vh;')
      h2(style='color: red; text-align:left') ¡Recibiste una solicitud de cambio en la orden!
      p(style='color:black; text-align:left') El usuario #{name} ha enviado una solicitud de cambio en la orden #{order}.
      p(style='text-align:left') Detalles de la solicitud:
      ul(style='color:black; text-align:left')
        li(style='margin-bottom:8px') <b>Nombre del usuario:</b> #{name}
        li(style='margin-bottom:8px') <b>Teléfono:</b> #{phone}
        li(style='margin-bottom:8px') <b>Correo:</b> #{userEmail}
        li(style='margin-bottom:8px') <b>Mensaje:</b> #{message}
        li(style='margin-bottom:8px') <b>Número de orden:</b> #{order}
        li(style='margin-bottom:8px') <b>Motivo:</b> #{consultationReason}

    footer
      p(style='color:black; text-align:left') No responda a este remitente
      p(style='color:black; text-align:left')
        | <b>Atte:</b> Equipo de
        span(style="color: red") ATC
